// colors
$color1:  #FEA91F;
//$color1:  #462C5E;
$color2:  $color1;
//$color2:  #FEA91F;
$black : #0d0d0d;

$dark-black : #0d0d0d;
$white : #ffffff;

// fonts
$sans : "Roboto Condensed" , "Helvetica", sans-serif;
$sans-serif : "Roboto", "Open Sans" , "Helvetica", sans-serif;
$serif : "Playfair Display" , "Helvetica", sans-serif;

// size
$text-size : 16px;
$text-small : 14px;