@import "../mixins";
@import "../variables";

// Logo
.header-top{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	z-index: 20;
	.logo-wrapper{
		position: relative;
		float: left;
		margin-top: 32px;
		margin-left: 16px;
		@media(min-width: 601px){
			margin-left: 64px;
		}
		.logo{
			font-family: $sans;
			font-weight: normal;
			font-size: $text-size;
			color: $white;
			transition: 0.3s;
			@include clearfix;
			.logo-img{
				display: block;
				float: left;
				.light-logo{
					display: inline-block;
				}
				.dark-logo{
					display: none;
				}
			}
			.logo-text{
				display: block;
				float: left;
				margin-top: 0;
				margin-left: 16px;
			}
			.title{
				display: block;
				font-size: 24px;
				line-height: 1.1em;
				font-weight: bold;
			}
			.desc{
				font-size: $text-size;
				display: block;
				font-weight: normal;
			}
			img{
				height: 48px;
				width: auto;
				margin: 0px;
			}
		}
	}
	
}

body.left-light{
	.header-top{
		.logo-wrapper{
		}
	}
}